openapi: 3.0.1
info:
  title: Strnadi API
  description: |
    HTTP API used by the Strnadi applications to manage user accounts, bird recordings,
    articles and other shared resources. The specification documents the behavior of the
    existing ASP.NET controllers so it can be imported into Swagger UI or other OpenAPI tooling.
  version: 1.0.0
servers:
  - url: https://api.strnadi.cz
    description: PROD API
  - url: https://devapi.strnadi.cz
    description: DEV API
security:
  - bearerAuth: []
tags:
  - name: Auth
    description: Authentication, token management and onboarding flows.
  - name: Users
    description: Endpoints that manage user profiles.
  - name: Devices
    description: Device registration for push notifications.
  - name: Recordings
    description: CRUD operations for uploaded audio recordings.
  - name: Filtered Recordings
    description: Machine filtered recording parts and detected dialects.
  - name: Photos
    description: Upload and retrieval of user and recording images.
  - name: Achievements
    description: User achievements, award processing and media assets.
  - name: Articles
    description: Public knowledge base articles and categories.
  - name: Utils
    description: Utility endpoints.
  - name: Map
    description: Reverse proxy for Mapy.cz API access.
paths:
  /auth/verify-jwt:
    get:
      tags: [Auth]
      summary: Verify that a JWT belongs to a verified account
      description: |
        Validates the bearer token supplied in the `Authorization` header and confirms that the
        underlying account has its email address verified.
      responses:
        '200':
          description: JWT is valid and the email has already been verified.
        '400':
          description: The bearer token is missing or the email could not be extracted.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The JWT is valid but the email has not been verified yet.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/renew-jwt:
    get:
      tags: [Auth]
      summary: Renew a JWT
      description: Issues a fresh JWT for the currently authenticated user.
      responses:
        '200':
          description: Renewed JWT token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JwtToken'
        '400':
          description: The request did not provide a bearer token or the token was invalid.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The user referenced by the JWT no longer exists.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/google:
    post:
      tags: [Auth]
      summary: Sign in with Google
      description: |-
        Validates a Google ID token and either logs the user in or returns additional profile
        information that the client can use to complete sign-up.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAuthRequest'
      responses:
        '200':
          description: Google identity was validated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAuthNewUserResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/JwtToken'
        '401':
          description: The provided Google ID token was invalid.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/sign-up-google:
    post:
      tags: [Auth]
      summary: Prepare a new account using Google Sign-In
      description: |
        Validates a Google ID token for a user that is not yet registered in Strnadi and returns
        the profile information required to finish onboarding together with a provisional JWT.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAuthRequest'
      responses:
        '200':
          description: Google identity token was accepted and onboarding can continue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAuthSignupResponse'
        '401':
          description: The provided Google ID token was invalid.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The e-mail address already belongs to an existing Strnadi account.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/login-google:
    post:
      tags: [Auth]
      summary: Sign in an existing account using Google Sign-In
      description: |
        Validates a Google ID token for an existing Strnadi user and returns a freshly issued JWT
        when the account is found. Email verification is marked as completed automatically.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAuthRequest'
      responses:
        '200':
          description: Google identity was validated and the caller received a JWT.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JwtToken'
        '401':
          description: The provided Google ID token was invalid.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: No Strnadi account is associated with the Google identity.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/apple:
    post:
      tags: [Auth]
      summary: Sign in or link an Apple ID
      description: |
        Handles Apple sign-in flows for mobile and web clients. When the caller is already
        authenticated the Apple ID will be linked to that account. Otherwise the endpoint issues
        a JWT for onboarding or for an existing user.
      security:
        - {}
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppleAuthRequest'
      responses:
        '200':
          description: Apple identity was validated. When linking an account the response body is empty.
          content:
            application/json:
              schema:
                nullable: true
                oneOf:
                  - $ref: '#/components/schemas/AppleAuthJwtResponse'
                  - $ref: '#/components/schemas/AppleAuthSignupResponse'
        '400':
          description: The request was missing required Apple identity fields or the email could not be verified.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The provided Apple credentials were invalid or the caller supplied an invalid JWT while linking accounts.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/apple-callback:
    post:
      tags: [Auth]
      summary: Handle the Apple sign-in redirect callback
      description: |
        Accepts the callback that Apple sends after the user authorizes the Strnadi application.
        The endpoint redirects the browser back to the originally requested return URL while
        preserving the `user` payload and the `id_token` issued by Apple in the URI fragment.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [state]
              properties:
                user:
                  type: string
                  description: Base64 encoded JSON payload with the Apple user information.
                state:
                  type: string
                  description: Encoded state value that contains the original return URL.
                id_token:
                  type: string
                  description: The Apple identity token that should be persisted by the client.
      responses:
        '302':
          description: Redirected to the return URL with the Apple payload appended as a fragment.
        '400':
          description: The callback parameters were invalid or missing.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/apple/callback:
    post:
      tags: [Auth]
      summary: Handle the Apple sign-in redirect for Android clients
      description: |
        Mirrors the web callback but returns an Android `intent://` deep link that forwards the
        Apple payload back into the mobile application.
      security: []
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user:
                  type: string
                  description: Base64 encoded JSON payload with the Apple user information.
                  nullable: true
                state:
                  type: string
                  description: Encoded state value that contains the original return URL.
                  nullable: true
                id_token:
                  type: string
                  description: Apple identity token supplied by the platform.
                  nullable: true
                code:
                  type: string
                  description: Authorization code provided by Apple when `response_mode=form_post`.
                  nullable: true
      responses:
        '302':
          description: Redirected to the Android intent deep link containing the Apple payload.
  /auth/has-apple-id:
    get:
      tags: [Auth]
      summary: Check whether a user has a linked Apple ID
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      security: []
      responses:
        '200':
          description: The specified user has an Apple ID linked to the account.
        '409':
          description: The user has no linked Apple ID or does not exist.
  /auth/has-google-id:
    get:
      tags: [Auth]
      summary: Check whether a user has a linked Google identity
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      security: []
      responses:
        '200':
          description: The specified user has a Google ID linked to the account.
        '409':
          description: The user has no linked Google identity or does not exist.
  /auth/login:
    post:
      tags: [Auth]
      summary: Login with email and password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login succeeded and a JWT token was issued.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JwtToken'
        '401':
          description: The password did not match.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: No user with the supplied email exists.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/sign-up:
    post:
      tags: [Auth]
      summary: Sign up with email and password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpRequest'
      responses:
        '200':
          description: Signup succeeded and a JWT was issued.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JwtToken'
        '400':
          description: The request did not contain the required data or JWT when attempting an Apple linked signup.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The email address is already registered or the user could not be created.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/{userId}/resend-verify-email:
    get:
      tags: [Auth]
      summary: Resend the email verification link
      parameters:
        - name: userId
          in: path
          required: true
          description: Numeric identifier of the user requesting another verification email.
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: A new verification email has been queued.
        '208':
          description: The email address is already verified.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: The bearer token or the associated email was missing.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The supplied JWT was invalid or did not belong to the target user.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/{email}/reset-password:
    get:
      tags: [Auth]
      summary: Initiate a password reset email
      description: Sends a password reset email containing a JWT token.
      parameters:
        - name: email
          in: path
          required: true
          description: Email address that should receive the reset message.
          schema:
            type: string
            format: email
      security: []
      responses:
        '200':
          description: A password reset email has been queued.
        '404':
          description: No user with the supplied email exists.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users:
    get:
      tags: [Users]
      summary: List all users
      description: Returns basic information for every registered user. Only administrators may access this endpoint.
      responses:
        '200':
          description: List of users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserModel'
        '400':
          description: The request did not contain a bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The caller is not an administrator or supplied an invalid JWT.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to load users from the repository.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/get-id:
    get:
      tags: [Users]
      summary: Get the identifier of the current user
      description: Extracts the user id from the supplied JWT.
      responses:
        '200':
          description: Identifier of the authenticated user.
          content:
            application/json:
              schema:
                type: integer
                minimum: 1
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The supplied JWT was invalid or the user no longer exists.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/{userId}:
    get:
      tags: [Users]
      summary: Get profile by identifier
      description: |
        Returns a user profile. When the caller is unauthenticated only non-sensitive fields are
        returned (the email is omitted). Authenticated callers receive their full profile and
        administrators may view the email of any account.
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      security: []
      responses:
        '200':
          description: User profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserModel'
        '401':
          description: The supplied JWT was invalid for viewing protected fields.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: No user with the supplied identifier exists.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags: [Users]
      summary: Update profile information
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserModel'
      responses:
        '200':
          description: The profile was updated.
        '400':
          description: The request did not contain a bearer token or referenced a different user.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The supplied JWT is invalid.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The profile could not be updated.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [Users]
      summary: Delete a user account
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: The account has been deleted.
        '400':
          description: The request did not contain a bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The caller is not allowed to delete this user.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The user could not be deleted because it does not exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/{userId}/verify-email:
    get:
      tags: [Users]
      summary: Finalize email verification
      description: Confirms a verification link and redirects to the configured front-end application.
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: jwt
          in: query
          required: true
          description: Verification JWT included in the email message.
          schema:
            $ref: '#/components/schemas/JwtToken'
      security: []
      responses:
        '301':
          description: Redirect to the front-end confirmation page.
          headers:
            Location:
              description: Target redirection URL.
              schema:
                type: string
                format: uri
        '401':
          description: The verification token is invalid.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/{userId}/change-password:
    patch:
      tags: [Users]
      summary: Change the password for the current user
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: Password updated.
        '400':
          description: Missing bearer token or attempting to change another user's password.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: The password could not be changed due to a server error.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/exists:
    get:
      tags: [Users]
      summary: Check whether a user exists
      parameters:
        - name: userId
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
        - name: email
          in: query
          required: false
          schema:
            type: string
            format: email
      security: []
      responses:
        '200':
          description: The user does not exist and the identifier may be used.
        '400':
          description: Neither `email` nor `userId` was provided.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: A user already exists with the supplied identifier.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/{userId}/upload-profile-photo:
    post:
      tags: [Users]
      summary: Upload or replace a user profile photo
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfilePhotoModel'
      responses:
        '200':
          description: Photo uploaded successfully.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The photo could not be saved.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/{userId}/get-profile-photo:
    get:
      tags: [Users]
      summary: Download the stored profile photo
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      security: []
      responses:
        '200':
          description: Base64 encoded profile photo.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfilePhotoModel'
        '404':
          description: The user does not have a stored profile photo.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /devices/add:
    post:
      tags: [Devices]
      summary: Register a device for push notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDeviceRequest'
      responses:
        '200':
          description: Device registered or reassigned successfully.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The device could not be registered.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /devices/update:
    patch:
      tags: [Devices]
      summary: Update an existing device token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeviceRequest'
      responses:
        '200':
          description: Device token updated.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The original device token does not exist or update failed.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: The update failed due to a server error.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /devices/delete/{fcmToken}:
    delete:
      tags: [Devices]
      summary: Remove a registered device
      parameters:
        - name: fcmToken
          in: path
          required: true
          description: Firebase Cloud Messaging token identifying the device.
          schema:
            type: string
      responses:
        '200':
          description: Device deleted.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The device token does not exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: The device could not be deleted due to a server error.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recordings:
    get:
      tags: [Recordings]
      summary: List recordings
      parameters:
        - name: userId
          in: query
          required: false
          description: When supplied, restricts results to recordings owned by the given user.
          schema:
            type: integer
            minimum: 1
        - name: parts
          in: query
          required: false
          description: Include metadata for recording parts in the response.
          schema:
            type: boolean
            default: false
        - name: sound
          in: query
          required: false
          description: Include base64 encoded audio for each part. Only meaningful when `parts=true`.
          schema:
            type: boolean
            default: false
      security: []
      responses:
        '200':
          description: Matching recordings.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecordingModel'
        '204':
          description: No recordings matched the supplied filters.
        '500':
          description: A database error occurred while fetching recordings.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags: [Recordings]
      summary: Upload a new recording metadata entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordingUploadRequest'
      responses:
        '200':
          description: Identifier of the created recording.
          content:
            application/json:
              schema:
                type: integer
                minimum: 1
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied or user does not exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The recording could not be stored.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recordings/deleted:
    get:
      tags: [Recordings]
      summary: List soft-deleted recordings
      description: |-
        Returns recordings that were soft-deleted. The caller must be an administrator and the
        endpoint does not accept any additional filters.
      responses:
        '200':
          description: Deleted recordings (admin only).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecordingModel'
        '204':
          description: No deleted recordings are available.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to load recordings.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recordings/{id}:
    get:
      tags: [Recordings]
      summary: Get a recording by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: parts
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: sound
          in: query
          required: false
          schema:
            type: boolean
            default: false
      security: []
      responses:
        '200':
          description: Recording metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingModel'
        '204':
          description: The recording does not exist or was deleted.
    delete:
      tags: [Recordings]
      summary: Delete or soft-delete a recording
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: final
          in: query
          required: false
          description: Permanently delete the recording instead of soft deleting. Requires admin rights.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Recording deleted.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT or insufficient permissions.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The recording could not be found.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The recording could not be deleted.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags: [Recordings]
      summary: Update recording metadata
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRecordingRequest'
      responses:
        '200':
          description: Recording updated.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT or insufficient permissions.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The recording could not be updated.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recordings/part/{recId}/{partId}/sound:
    get:
      tags: [Recordings]
      summary: Download the audio for a recording part
      parameters:
        - name: recId
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: partId
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      security: []
      responses:
        '200':
          description: Raw WAV audio for the requested part.
          content:
            audio/wav:
              schema:
                type: string
                format: binary
  /recordings/part:
    post:
      tags: [Recordings]
      summary: Upload a part of a recording
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordingPartUploadRequest'
      responses:
        '200':
          description: Identifier of the created recording part.
          content:
            application/json:
              schema:
                type: integer
                minimum: 1
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: The recording part could not be stored.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recordings/part-new:
    post:
      tags: [Recordings]
      summary: Upload a recording part using multipart form data
      description: |
        Alternative upload flow that accepts the raw audio file via `multipart/form-data` instead
        of requiring a Base64 encoded payload.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RecordingPartUploadFormRequest'
      responses:
        '200':
          description: Identifier of the created recording part.
          content:
            application/json:
              schema:
                type: integer
                minimum: 1
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: The recording part could not be stored.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recordings/dialects:
    get:
      tags: [Recordings]
      summary: List available dialect definitions
      description: Returns dialect codes that can be associated with filtered recording parts.
      security: []
      responses:
        '200':
          description: Dialect definitions available in the system.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DialectModel'
  /recordings/filtered:
    get:
      tags: [Filtered Recordings]
      summary: List filtered recording parts
      parameters:
        - name: recordingId
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
        - name: verified
          in: query
          required: false
          description: When true, only returns parts whose state indicates verification (1 or 2).
          schema:
            type: boolean
            default: false
      security: []
      responses:
        '200':
          description: Filtered recording parts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FilteredRecordingPartModel'
        '204':
          description: No filtered parts matched the supplied filters.
        '409':
          description: The filtered parts could not be loaded.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags: [Filtered Recordings]
      summary: Upload a filtered recording part
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilteredRecordingPartUploadRequest'
      responses:
        '200':
          description: Filtered part stored successfully.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The filtered part could not be saved.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recordings/filtered/{fpId}:
    get:
      tags: [Filtered Recordings]
      summary: Get a filtered recording part by id
      parameters:
        - name: fpId
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      security: []
      responses:
        '200':
          description: Filtered part that matches the supplied identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredRecordingPartModel'
        '409':
          description: The filtered part could not be loaded.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [Filtered Recordings]
      summary: Delete a filtered recording part
      parameters:
        - name: fpId
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Filtered part deleted successfully.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The filtered part does not exist or could not be deleted.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recordings/filtered/post-confirmed-dialect:
    post:
      tags: [Filtered Recordings]
      summary: Create a manually confirmed dialect part
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostConfirmedDialectRequest'
      responses:
        '200':
          description: Confirmed dialect part created and linked to the recording.
        '400':
          description: Missing bearer token or an invalid dialect code was provided.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The referenced recording does not exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: The confirmed dialect could not be persisted.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recordings/filtered/update-confirmed-dialect:
    patch:
      tags: [Filtered Recordings]
      summary: Update a manually confirmed dialect part
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConfirmedDialectRequest'
      responses:
        '200':
          description: Confirmed dialect part updated.
        '400':
          description: Missing bearer token or an invalid dialect code was provided.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The filtered part does not exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: The filtered part could not be updated.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recordings/filtered/delete-confirmed-dialect/{filteredPartId}:
    delete:
      tags: [Filtered Recordings]
      summary: Delete a manually confirmed dialect part
      parameters:
        - name: filteredPartId
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Confirmed dialect part deleted.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recordings/filtered/detected:
    get:
      tags: [Filtered Recordings]
      summary: List detected dialect entries
      security: []
      responses:
        '200':
          description: Detected dialect entries available in the system.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DetectedDialectModel'
        '409':
          description: The detected dialect entries could not be loaded.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags: [Filtered Recordings]
      summary: Create a detected dialect entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetectedDialectUploadRequest'
      responses:
        '201':
          description: Detected dialect entry created.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The detected dialect entry could not be created.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags: [Filtered Recordings]
      summary: Update a detected dialect entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDetectedDialectRequest'
      responses:
        '200':
          description: Detected dialect entry updated.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The detected dialect entry does not exist or could not be updated.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recordings/filtered/detected/{ddId}:
    get:
      tags: [Filtered Recordings]
      summary: Get a detected dialect entry by id
      parameters:
        - name: ddId
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      security: []
      responses:
        '200':
          description: Detected dialect entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectedDialectModel'
        '409':
          description: The detected dialect entry could not be loaded.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [Filtered Recordings]
      summary: Delete a detected dialect entry
      parameters:
        - name: ddId
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Detected dialect entry deleted.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The detected dialect entry does not exist or could not be deleted.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The filtered part does not exist or could not be deleted.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /photos/upload/recording-photo:
    post:
      tags: [Photos]
      summary: Upload photos for a recording
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadRecordingPhotoRequest'
      responses:
        '200':
          description: Recording photos saved.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The photos could not be stored.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /achievements:
    get:
      tags: [Achievements]
      summary: List achievements or fetch awards for a user
      description: |-
        Returns every achievement configured in the system. When `userId` is supplied the
        backend re-evaluates achievement conditions and only returns achievements that were
        awarded to the specified user.
      parameters:
        - name: userId
          in: query
          required: false
          description: Filter the response to achievements that belong to the specified user.
          schema:
            type: integer
            minimum: 1
      security: []
      responses:
        '200':
          description: Achievements currently configured in the system.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AchievementModel'
        '404':
          description: No achievements could be found.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags: [Achievements]
      summary: Create a new achievement
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [sql, contents, file]
              properties:
                sql:
                  type: string
                  description: SQL query that selects user identifiers to award.
                contents:
                  type: string
                  description: JSON array of localized content objects.
                file:
                  type: string
                  format: binary
                  description: PNG image that represents the achievement badge.
            encoding:
              contents:
                contentType: application/json
      responses:
        '200':
          description: Achievement created.
        '400':
          description: Missing bearer token or invalid request payload.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The achievement could not be stored.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /achievements/{achievementId}/photo:
    get:
      tags: [Achievements]
      summary: Download an achievement badge image
      parameters:
        - name: achievementId
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      security: []
      responses:
        '200':
          description: Binary PNG badge.
          content:
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: Achievement image not found.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /articles:
    get:
      tags: [Articles]
      summary: List all articles
      security: []
      responses:
        '200':
          description: Articles currently published.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArticleModel'
        '204':
          description: No articles are available.
        '500':
          description: Failed to load articles.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags: [Articles]
      summary: Create a new article
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleUploadRequest'
      responses:
        '200':
          description: Identifier of the created article.
          content:
            application/json:
              schema:
                type: integer
                minimum: 1
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: The article could not be stored.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /articles/categories:
    get:
      tags: [Articles]
      summary: List article categories
      parameters:
        - name: articles
          in: query
          required: false
          description: Include articles assigned to each category.
          schema:
            type: boolean
            default: true
      security: []
      responses:
        '200':
          description: Article categories.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArticleCategoryModel'
        '204':
          description: No categories exist.
        '500':
          description: Failed to load categories.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags: [Articles]
      summary: Create a new article category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleCategoryUploadRequest'
      responses:
        '200':
          description: Category created.
        '401':
          description: Invalid JWT supplied or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: The category could not be created.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /articles/{identifier}:
    get:
      tags: [Articles]
      summary: Get article details or articles by category
      description: |
        When `identifier` is numeric the endpoint returns a single article. Otherwise it is
        interpreted as a category name and returns every article assigned to that category.
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            oneOf:
              - type: integer
                minimum: 1
              - type: string
      security: []
      responses:
        '200':
          description: Article or articles assigned to the category.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ArticleModel'
                  - type: array
                    items:
                      $ref: '#/components/schemas/ArticleModel'
        '500':
          description: Failed to load the requested content.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags: [Articles]
      summary: Update an article or assign an article to a category
      description: |
        When `identifier` is numeric the request body must contain article fields to update.
        Otherwise it is treated as a category name and assigns an article to that category.
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            oneOf:
              - type: integer
                minimum: 1
              - type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ArticleUpdateRequest'
                - $ref: '#/components/schemas/AssignArticleToCategoryRequest'
      responses:
        '200':
          description: Article or category assignment updated.
        '401':
          description: Invalid JWT supplied or the caller is not an administrator when modifying categories.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: The update failed.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [Articles]
      summary: Delete an article
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Article deleted.
        '401':
          description: Invalid JWT supplied.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: The article could not be deleted.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /articles/{id}/{fileName}:
    get:
      tags: [Articles]
      summary: Download an article attachment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: fileName
          in: path
          required: true
          schema:
            type: string
      security: []
      responses:
        '200':
          description: Binary attachment content.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
    post:
      tags: [Articles]
      summary: Upload an attachment for an article
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: fileName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
              format: byte
      responses:
        '200':
          description: Attachment stored.
        '401':
          description: Invalid JWT supplied.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: The attachment could not be saved.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags: [Articles]
      summary: Replace an article attachment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: fileName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
              format: byte
      responses:
        '200':
          description: Attachment replaced.
        '401':
          description: Invalid JWT supplied or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: The attachment could not be updated.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [Articles]
      summary: Delete an article attachment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: fileName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Attachment deleted.
        '401':
          description: Invalid JWT supplied.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: The attachment could not be deleted.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /articles/categories/{categoryName}:
    delete:
      tags: [Articles]
      summary: Delete an article category
      parameters:
        - name: categoryName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Category deleted.
        '401':
          description: Invalid JWT supplied or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: The category could not be deleted.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /articles/categories/{categoryName}/{articleId}:
    delete:
      tags: [Articles]
      summary: Remove an article from a category
      parameters:
        - name: categoryName
          in: path
          required: true
          schema:
            type: string
        - name: articleId
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Article removed from the category.
        '401':
          description: Invalid JWT supplied or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: The association could not be deleted.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /utils/send-notification:
    post:
      tags: [Utils]
      summary: Send a custom push notification to a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendNotificationRequest'
      responses:
        '200':
          description: Notification was queued for delivery to all user devices.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The user has no registered devices or the notification failed.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /utils/fix-same-dates:
    get:
      tags: [Utils]
      summary: Fix duplicate recording part timestamps
      description: Re-runs the maintenance routine that normalizes duplicate timestamps for recording parts.
      responses:
        '200':
          description: The maintenance routine completed.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /utils/normalize-existing-audios:
    get:
      tags: [Utils]
      summary: Normalize stored recording audio files
      description: Iterates through all persisted recording parts and normalizes their audio levels.
      responses:
        '200':
          description: Audio normalization was triggered successfully.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /utils/analyze-parts:
    get:
      tags: [Utils]
      summary: Analyze stored recording parts
      description: Logs technical metadata for each stored recording part such as duration and format.
      responses:
        '200':
          description: Recording part analysis was triggered successfully.
        '400':
          description: Missing bearer token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid JWT supplied or the caller is not an administrator.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /utils/health:
    head:
      tags: [Utils]
      summary: Health probe
      description: Lightweight health check endpoint used by infrastructure probes.
      security: []
      responses:
        '200':
          description: Service is reachable.
  /map/{path}:
    get:
      tags: [Map]
      summary: Proxy a request to the Mapy.cz API
      description: Forwards the request path and query string to the Mapy.cz REST API using the configured API key.
      parameters:
        - name: path
          in: path
          required: true
          description: Remaining path forwarded to Mapy.cz.
          schema:
            type: string
      security: []
      responses:
        '200':
          description: Response returned by the Mapy.cz API.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '502':
          description: The upstream Mapy.cz API returned an error.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ErrorResponse:
      type: string
      description: Human readable message describing the error.
    JwtToken:
      type: string
      description: Encoded JSON Web Token.
      example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    GoogleAuthRequest:
      type: object
      required: [idToken]
      properties:
        idToken:
          type: string
          description: Google ID token obtained from the client SDK.
    GoogleAuthNewUserResponse:
      type: object
      required: [jwt, firstName, lastName, googleId]
      properties:
        jwt:
          $ref: '#/components/schemas/JwtToken'
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        googleId:
          type: string
          description: Stable Google subject identifier returned in the ID token.
    GoogleAuthSignupResponse:
      type: object
      required: [jwt, firstName, lastName]
      properties:
        jwt:
          $ref: '#/components/schemas/JwtToken'
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
    AppleAuthRequest:
      type: object
      required: [idToken, userIdentifier]
      properties:
        idToken:
          type: string
          description: Apple ID token returned by the native or web flow.
        email:
          type: string
          format: email
          nullable: true
        givenName:
          type: string
          nullable: true
        familyName:
          type: string
          nullable: true
        userIdentifier:
          type: string
          description: Stable identifier assigned by Apple to the user.
    AppleAuthJwtResponse:
      type: object
      required: [jwt]
      properties:
        jwt:
          $ref: '#/components/schemas/JwtToken'
    AppleAuthSignupResponse:
      type: object
      required: [jwt, exists]
      properties:
        jwt:
          $ref: '#/components/schemas/JwtToken'
        exists:
          type: boolean
          description: Indicates whether the user already existed in Strnadi before this login.
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        appleid:
          type: string
          description: Unique Apple identifier returned in the ID token claims.
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
    SignUpRequest:
      type: object
      required: [email, firstName, lastName, consent]
      properties:
        nickname:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          nullable: true
        firstName:
          type: string
        lastName:
          type: string
        postCode:
          type: integer
          nullable: true
        city:
          type: string
          nullable: true
        consent:
          type: boolean
        appleId:
          type: string
          nullable: true
        googleId:
          type: string
          nullable: true
    AddDeviceRequest:
      type: object
      required: [userId, fcmToken, devicePlatform, deviceModel]
      properties:
        userId:
          type: integer
          minimum: 1
        fcmToken:
          type: string
        devicePlatform:
          type: string
        deviceModel:
          type: string
    UpdateDeviceRequest:
      type: object
      required: [oldFcmToken, newFcmToken]
      properties:
        oldFcmToken:
          type: string
        newFcmToken:
          type: string
    UpdateUserModel:
      type: object
      properties:
        nickname:
          type: string
          nullable: true
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        postCode:
          type: integer
          nullable: true
    ChangePasswordRequest:
      type: object
      required: [newPassword]
      properties:
        newPassword:
          type: string
          format: password
    UserProfilePhotoModel:
      type: object
      required: [format, photoBase64]
      properties:
        format:
          type: string
          description: File extension (for example `jpg`).
        photoBase64:
          type: string
          format: byte
          description: Base64 encoded profile picture.
    UploadRecordingPhotoRequest:
      type: object
      required: [recordingId, photosBase64, format]
      properties:
        recordingId:
          type: integer
          minimum: 1
        photosBase64:
          type: string
          format: byte
          description: Base64 encoded image data.
        format:
          type: string
          description: File extension (for example `png`).
    AchievementContentModel:
      type: object
      required: [id, title, description, languageCode, achievementId]
      properties:
        id:
          type: integer
          minimum: 1
        title:
          type: string
        description:
          type: string
        languageCode:
          type: string
          description: ISO language code that identifies the localized content block.
        achievementId:
          type: integer
          minimum: 1
    AchievementModel:
      type: object
      required: [id, sql, imageUrl, contents]
      properties:
        id:
          type: integer
          minimum: 1
        sql:
          type: string
          description: SQL query that is evaluated to award the achievement.
        imageUrl:
          type: string
          format: uri
          description: Public URL that serves the achievement badge image.
        contents:
          type: array
          items:
            $ref: '#/components/schemas/AchievementContentModel'
    SendNotificationRequest:
      type: object
      required: [userId]
      properties:
        userId:
          type: integer
          minimum: 1
        titleEn:
          type: string
          nullable: true
        bodyEn:
          type: string
          nullable: true
        titleDe:
          type: string
          nullable: true
        bodyDe:
          type: string
          nullable: true
        titleCs:
          type: string
          nullable: true
        bodyCs:
          type: string
          nullable: true
    RecordingUploadRequest:
      type: object
      required: [createdAt, estimatedBirdsCount, device, deviceId, byApp]
      properties:
        createdAt:
          type: string
          format: date-time
        estimatedBirdsCount:
          type: integer
          minimum: 0
        device:
          type: string
        deviceId:
          type: string
        byApp:
          type: boolean
        note:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        expectedPartsCount:
          type: integer
          minimum: 1
          nullable: true
    RecordingPartUploadRequest:
      type: object
      required:
        - recordingId
        - startDate
        - endDate
        - gpsLatitudeStart
        - gpsLongitudeStart
        - gpsLatitudeEnd
        - gpsLongitudeEnd
        - dataBase64
      properties:
        recordingId:
          type: integer
          minimum: 1
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        gpsLatitudeStart:
          type: number
          format: double
        gpsLatitudeEnd:
          type: number
          format: double
        gpsLongitudeStart:
          type: number
          format: double
        gpsLongitudeEnd:
          type: number
          format: double
        dataBase64:
          type: string
          format: byte
    RecordingPartUploadFormRequest:
      type: object
      required:
        - recordingId
        - startDate
        - endDate
        - gpsLatitudeStart
        - gpsLongitudeStart
        - gpsLatitudeEnd
        - gpsLongitudeEnd
        - file
      properties:
        recordingId:
          type: integer
          minimum: 1
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        gpsLatitudeStart:
          type: number
          format: double
        gpsLatitudeEnd:
          type: number
          format: double
        gpsLongitudeStart:
          type: number
          format: double
        gpsLongitudeEnd:
          type: number
          format: double
        dataBase64:
          type: string
          format: byte
          nullable: true
          description: Optional Base64 encoded audio payload when not supplying the `file` part.
        file:
          type: string
          format: binary
          description: Raw audio file uploaded as part of the multipart form.
    UpdateRecordingRequest:
      type: object
      properties:
        name:
          type: string
          nullable: true
        estimatedBirdsCount:
          type: integer
          nullable: true
        note:
          type: string
          nullable: true
        notePost:
          type: string
          nullable: true
        device:
          type: string
          nullable: true
    DialectModel:
      type: object
      required: [id, dialectCode, color]
      properties:
        id:
          type: integer
          minimum: 1
        dialectCode:
          type: string
        color:
          type: string
          description: Hex color associated with the dialect.
    FilteredRecordingPartUploadRequest:
      type: object
      required: [recordingId, startDate, endDate, dialectCode]
      properties:
        recordingId:
          type: integer
          minimum: 1
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        dialectCode:
          type: string
    PostConfirmedDialectRequest:
      type: object
      required: [recordingId, startDate, endDate, dialectCode, representant]
      properties:
        recordingId:
          type: integer
          minimum: 1
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        dialectCode:
          type: string
        representant:
          type: boolean
    UpdateConfirmedDialectRequest:
      type: object
      required: [filteredPartId]
      properties:
        filteredPartId:
          type: integer
          minimum: 1
        startDate:
          type: string
          format: date-time
          nullable: true
        endDate:
          type: string
          format: date-time
          nullable: true
        confirmedDialectCode:
          type: string
          nullable: true
        representant:
          type: boolean
          nullable: true
    DetectedDialectUploadRequest:
      type: object
      required: [filteredPartId]
      properties:
        filteredPartId:
          type: integer
          minimum: 1
        userGuessDialectId:
          type: integer
          minimum: 1
          nullable: true
        confirmedDialectId:
          type: integer
          minimum: 1
          nullable: true
        predictedDialectId:
          type: integer
          minimum: 1
          nullable: true
    UpdateDetectedDialectRequest:
      type: object
      required: [id]
      properties:
        id:
          type: integer
          minimum: 1
        userGuessDialectId:
          type: integer
          minimum: 1
          nullable: true
        confirmedDialectId:
          type: integer
          minimum: 1
          nullable: true
        predictedDialectId:
          type: integer
          minimum: 1
          nullable: true
    FilteredRecordingPartModel:
      type: object
      required:
        - id
        - startDate
        - endDate
        - state
        - recordingId
        - representant
        - detectedDialects
      properties:
        id:
          type: integer
          minimum: 1
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        state:
          type: integer
          description: Workflow state of the filtered part.
        recordingId:
          type: integer
          minimum: 1
        representant:
          type: boolean
          description: Indicates whether the part represents the whole recording.
        parentId:
          type: integer
          minimum: 1
          nullable: true
        detectedDialects:
          type: array
          items:
            $ref: '#/components/schemas/DetectedDialectModel'
    DetectedDialectModel:
      type: object
      required:
        - id
        - filteredRecordingPartId
      properties:
        id:
          type: integer
          minimum: 1
        userGuessDialectId:
          type: integer
          minimum: 1
          nullable: true
        userGuessDialect:
          type: string
          nullable: true
        confirmedDialectId:
          type: integer
          minimum: 1
          nullable: true
        confirmedDialect:
          type: string
          nullable: true
        predictedDialectId:
          type: integer
          minimum: 1
          nullable: true
        predictedDialect:
          type: string
          nullable: true
        filteredRecordingPartId:
          type: integer
          minimum: 1
    RecordingModel:
      type: object
      required:
        - id
        - userId
        - name
        - createdAt
        - estimatedBirdsCount
        - byApp
        - deleted
      properties:
        id:
          type: integer
          minimum: 1
        userId:
          type: integer
          minimum: 1
        name:
          type: string
        createdAt:
          type: string
          format: date-time
        estimatedBirdsCount:
          type: integer
        byApp:
          type: boolean
        note:
          type: string
          nullable: true
        notePost:
          type: string
          nullable: true
        deleted:
          type: boolean
        parts:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/RecordingPartModel'
    RecordingPartModel:
      type: object
      required:
        - id
        - recordingId
        - startDate
        - endDate
        - gpsLatitudeStart
        - gpsLatitudeEnd
        - gpsLongitudeStart
        - gpsLongitudeEnd
      properties:
        id:
          type: integer
          minimum: 1
        recordingId:
          type: integer
          minimum: 1
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        gpsLatitudeStart:
          type: number
          format: double
        gpsLatitudeEnd:
          type: number
          format: double
        gpsLongitudeStart:
          type: number
          format: double
        gpsLongitudeEnd:
          type: number
          format: double
        square:
          type: string
          nullable: true
        filePath:
          type: string
          nullable: true
        dataBase64:
          type: string
          format: byte
          nullable: true
    ArticleUploadRequest:
      type: object
      required: [name, description]
      properties:
        name:
          type: string
        description:
          type: string
    ArticleUpdateRequest:
      type: object
      required: [name, description]
      properties:
        name:
          type: string
        description:
          type: string
    AssignArticleToCategoryRequest:
      type: object
      required: [articleId, order]
      properties:
        articleId:
          type: integer
          minimum: 1
        order:
          type: integer
    ArticleCategoryUploadRequest:
      type: object
      required: [label, name]
      properties:
        label:
          type: string
        name:
          type: string
    ArticleAttachmentModel:
      type: object
      required: [id, articleId, fileName]
      properties:
        id:
          type: integer
          minimum: 1
        articleId:
          type: integer
          minimum: 1
        fileName:
          type: string
    ArticleCategoryModel:
      type: object
      required: [id, label, name]
      properties:
        id:
          type: integer
          minimum: 1
        label:
          type: string
        name:
          type: string
        articles:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/ArticleModel'
    ArticleModel:
      type: object
      required: [id, name, description]
      properties:
        id:
          type: integer
          minimum: 1
        name:
          type: string
        description:
          type: string
        files:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/ArticleAttachmentModel'
        categories:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/ArticleCategoryModel'
    UserModel:
      type: object
      required: [id, email, firstName, lastName, creationDate]
      properties:
        id:
          type: integer
          minimum: 1
        nickname:
          type: string
          nullable: true
        email:
          type: string
          format: email
        password:
          type: string
          nullable: true
        firstName:
          type: string
        lastName:
          type: string
        postCode:
          type: integer
          nullable: true
        city:
          type: string
          nullable: true
        creationDate:
          type: string
          format: date-time
        isEmailVerified:
          type: boolean
          nullable: true
        consent:
          type: boolean
          nullable: true
        role:
          type: string
          nullable: true