# dev: Development
# preprod/production: Production
ASPNETCORE_ENVIRONMENT=Production

ConnectionStrings__Default=REQUIRED

Jwt__SecretKey=REQUIRED
Jwt__Issuer=strnadi-api
Jwt__Audience=strnadi-clients
Jwt__Lifetime=01:00:00

CORS__Default=Default
Host=https://REPLACE_ME

Storage__RootPath=/var/lib/strnadi/storage

Auth__Google__Android=REQUIRED
Auth__Google__Ios=REQUIRED
Auth__Google__Web=REQUIRED
Auth__Google__WebSecret=REQUIRED

Auth__Apple__TeamId=REQUIRED
Auth__Apple__KeyId=REQUIRED
Auth__Apple__ClientIdWeb=REQUIRED
Auth__Apple__ClientIdIos=REQUIRED
Auth__Apple__RedirectUriWeb=REQUIRED
Auth__Apple__P8PrivateKey=REQUIRED
Auth__Android__Package=com.delta.strnadi

Firebase__ServiceAccountJson=REQUIRED_SINGLE_LINE_JSON

Smtp__Domain=REQUIRED
Smtp__Username=REQUIRED
Smtp__Password=REQUIRED
Smtp__Port=587
Smtp__Email=REQUIRED
Smtp__EnableSsl=true

MapyCz__Key=REQUIRED